@import 'reset';
@import 'super-gigi/dist/helpers/functions'; // rem-calc, em-calc

$rem-base: 16px !default;
$baseline: rem-calc(20);

$page-container: rem-calc(1200);

$debug: false;
$use-dry: true;
$row-width: rem-calc(1980);
$column-gutter: rem-calc(40);
$breakpoints: (
  xxsmall: em-calc(280),
  xsmall: em-calc(480),
  small: em-calc(640),
  medium: em-calc(769),
  large: em-calc(1024),
  xlarge: em-calc(1280),
  xxlarge: em-calc(1440),
  huge: em-calc(1800)
);

@import 'super-gigi/dist/main';

// Primary
$color-primary: #ff004e;

$color-primary-lower: lighten($color-primary, 30%);;
$color-primary-low: lighten($color-primary, 15%);
$color-primary-high: darken($color-primary, 15%);
$color-primary-higher: darken($color-primary, 30%);

// Neutrals
$color-neutral-lowest: #fff;
$color-neutral-lower: #d1d7db;
$color-neutral-low: #a3b0b8;
$color-neutral-medium: #758894;
$color-neutral-high: #5b6a74;
$color-neutral-higher: #262e34;
$color-neutral-highest: #0c0c0c;

html,
body {
  color: $color-neutral-highest;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-rendering: optimizeLegibility;
  font-size: $rem-base;
  height: 100%;
  
  @include media-query(xxsmall, large) {
    font-size: 14px;
  }
  
  @include media-query(large, xxlarge) {
    font-size: 16px;
  }
  
  @include media-query(huge) {
    font-size: 18px;
  }
}

a {
  text-decoration: underline;
  color: inherit;
}

h1 {
  font-size: rem-calc(70);
}

h2 {
  font-size: rem-calc(50);
}

h3 {
  font-size: rem-calc(30);
}

p {
  font-size: rem-calc(22);
  line-height: 1.5;
}

h2 + p {
  margin-top: $baseline * 2;
}

p + p {
  margin-top: $baseline;
}

.u-line-through {
  text-decoration: line-through;
}

.cover {
  background-color: $color-primary;
  color: $color-neutral-highest;
  
  &__wrapper {
    max-width: $row-width;
    margin: 0 auto;
  }
}

.site {

}

.footer {
  background-color: $color-neutral-highest;
  color: $color-neutral-high;
  padding: ($baseline * 3) ($column-gutter / 2) ($baseline * 4);
  font-size: rem-calc(18);
  line-height: 1.3;
  
  a {
    color: $color-neutral-medium;
  }
  
  &__wrapper {
    max-width: $page-container;
    margin: 0 auto;
  }
  
  &__logo {
    max-width: rem-calc(80);
  
    &:hover {
      .mark {
        stroke-width: rem-calc(3);
      }
    }
  
    .structure,
    .mark {
      fill:none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: rem-calc(2);
      transition: stroke-width 500ms ease-in-out;
    }
  
    .structure {
      stroke: $color-neutral-medium;
    }
  
    .mark {
      stroke: $color-neutral-lower;
    }
  
    svg {
      width: 100%;
    }
  }
  
  &__copyright {
    margin-top: $baseline * 1.5;
  }
  
  &__update {
    margin-top: $baseline;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: rem-calc(14);
  }
}

.section {
  
  &__wrapper {
    @include grid-row(false);
    // align-items: center;
  }
  
  &__index-wrapper {
    @include grid-column($width:(xxsmall: 12, medium: 4), $collapse: true);
    align-items: center;
    padding: $baseline * 3 0 $baseline * 2;
    
    @include media-query(medium) {
      align-items: flex-end;
    }
  }
  
  &__info-wrapper {
    @include grid-column($width:(xxsmall: 12, medium: 8), $collapse: true);
  
    @include media-query(medium) {
      border-left: 1px dashed $color-neutral-lower;
    }
  }
  
  &__info {
    max-width: rem-calc(750);
    padding: 0 ($column-gutter / 2) $baseline * 3;
  
    @include media-query(xsmall) {
      padding: 0 $column-gutter ($baseline * 3);
    }
    
    @include media-query(medium) {
      padding: ($baseline * 14) ($column-gutter * 2) ($baseline * 7);
    }
  }
  
  &__icon {
    max-width: rem-calc(200);
  
    @include media-query(medium) {
      transform: translateX(50%);
    }
    
    &:hover {
      .mark {
        stroke-width: rem-calc(3);
      }
    }
    
    .structure,
    .mark {
      fill:none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: rem-calc(2);
      transition: stroke-width 500ms ease-in-out;
    }
    
    .structure {
      stroke: $color-neutral-lower;
    }
    
    .mark {
      stroke: $color-primary;
    }
    
    svg {
      width: 100%;
    }
  }
  
  &__title {
    position: relative;
    
    &:after {
      content: '';
      display: inline-block;
      vertical-align: super;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: rem-calc(0 10 17.3 10);
      border-color: transparent transparent currentColor transparent;
    }
  }
  
  &__links {
    margin-top: $baseline * 2;
  }
  
  &__link {
    font-size: rem-calc(20);
    display: inline-flex;
    position: relative;
    padding: rem-calc(4 0);
    line-height: 1;
    text-decoration: none;
    
    &:after {
      content: '';
      background-color: currentColor;
      height: rem-calc(3);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  
    & + & {
      margin-left: $column-gutter / 2;
    }
  }
  
  &__list {
    margin-top: $baseline * 3;
  
    @include media-query(large) {
      transform: translateX(-25%);
      width: 130%;
    }
  }
  
  &--cover {
    background-color: $color-primary;
    color: $color-primary-higher;
  }
  
  &--cover &__info-wrapper {
    border-left-color: $color-primary-high;
  }
  
  &--cover &__icon {
  
    .structure {
      stroke: $color-primary-high;
    }
    
    .mark {
      stroke: $color-neutral-lowest;
    }
  }
  
  &--cover &__icon {
    max-width: rem-calc(250);
  
    .structure,
    .mark {
      stroke-width: rem-calc(4);
    }
  }
  
  &--cover &__wrapper {
    min-height: 100vh;
  }
  
  // &--skills {}
  
  // &--experiences {}
  
  // &--the-best {}
}

.the-best {
  max-width: $page-container;
  margin: 0 auto;
  
  &__list {
    margin-top: $baseline * 2.5;
  
    @include media-query(large) {
      column-count: 2;
      column-gap: 2rem;
    }
  }
  
  &__item {
    display: inline-block;
    margin-bottom: 2rem;
    width: 100%;
  }
}

.item-check {
  font-size: rem-calc(22);
  line-height: 1.3;
  padding-left: rem-calc(40);
  position: relative;
  
  &:before {
    position: absolute;
    top: rem-calc(-8);
    left: 0;
    content: '\2713';
    font-size: 140%;
  }
}

//------
// PAGES
//------

// Home
.page-home {
  
  // &__wrapper {}
  
  // &__cover {}
  
  &__section {
    
    &--cover {
      min-height: 100vh;
    }
    
    // &--skills {}
    
    &--experiences {
      background-color: #f6f7f8;
    }
  }
  
  // &__section-wrapper {}
}
